/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
Previous

/*end of reset*/


element { max-width: 100vw; overflow-x: hidden; }

.Extras{
	position:relative;
	float:right;
	top:145px;
	right:200px;
	display:inline-block;

}

html,body{
	margin:0;
	height: 100%;
	overflow-x:hidden;
	max-width:100%;
}
body{
	background-color: white;
	overflow-x: hidden;
	overflow-y: scroll;
	margin:0;
	min-height: 100%;
	min-width:1167px;
	width:100%;
}



.headers{
	padding:0px 0px 0px 0px;
	display:block;
	height:200px;
	width:100%;
	background-color:#001c37;
}

.img{
	position: relative;
	height:200px;
	left: 120px;
	display:inline-block;

}


.header-social{
	position:relative;
	float:right;
	top:20px;
	right:0px;
	left:450px;
}

.log{
	position:relative;
	float:right;
	top:25px;
	right:0px;
	left:480px;
}

.phone{
	position:relative;
	float:right;
	top:80px;
	right:0px;
	left:70px;
	display:inline-block;
}


.shipping{
	position:relative;
	float:left;
	left:185px;
	top:20px;

}


.lilheader{
	padding:0px 0px 0px 0px;
	position:relative;
	top:-3px;
	display:block;
	height:50px;
	width:100%;
	background-color:#235F8C;
}
.searchheader{
	padding:0px 0px 0px 0px;
	position:relative;
	display:block;
	height:80px;
	top:-3px;
	width:100%;
	background-color:white;
	border:1px solid gray;
	box-shadow: 2px 2px 20px gray;
}


  .wrapper {
    position: relative;
    min-width: 1000px;
	top:58px;
	left:180px;
	margin-right:100px;
  }

  .search-icon {
    position: absolute;
    top: 25px;
    left:970px;
    width: 22px;
  }

  .search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 30px;
    width: 970px;
    padding: 2px 23px 2px 10px;
    outline: 0;
    background-color: white;
  }

  .search:hover, .search:focus {
    border: 1.5px solid #235F8C;
    background-color: #D1EBFF;
  }




.column {
  display:inline-flex;
  width: 0%;
  padding: 100px 0px 1px 1px;
  margin:50px 115px 0px 185px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

	
.dropbtn {
  display:inline-block;
  background-color: #001c37;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  display:inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: inline-block;
  background-color: red;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: red}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: red;
}



.News{
	display:flex;
	float:left;
	margin-left:180px;
	margin-top:80px;
}

.listbox-news {
  position: relative;
  display: block;
  float:left;
  margin-left:-145px;
  margin-top: 145px;
  margin-right:500px;
  padding:20px;
  border: 0px solid gray; /* can't make up my mind about border */
  box-shadow: 2px 2px 8px gray;
	
}

/* Box styles */
#news_list {
border: none;
font-size: 20px;
font-family:"Montserrat", Helvetica, Arial, "sans-serif";
color:#001c37;
width: 550px;
height: 200px;
line-height: 50px;
overflow-y: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 8px;
height: 15px;
}

::-webkit-scrollbar-track {
border: 1px solid gray;
border-radius: 15px;
}

::-webkit-scrollbar-thumb {
background: gray;  
border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
background: gray;  
}

.promo{
	position: relative;
	padding:20px 30px 30px 30px;
	display:inline-block;
	float:right;
	top:-300px;
	right:250px;
	height:85px;
	width:250px;
	background-color:#235F8C;  
	box-shadow: 2px 2px 8px black;
}

.Miss-out{
	color:white;
	padding:0px 0px 10px 0px;
	font-size:15px;
	text-align: center;
	font-family: "Montserrat", Helvetica, Arial, "sans-serif";
}

.promo-text{
	color:white;
	font-size:25px;
	text-align: center;
	font-family: "Montserrat", Helvetica, Arial, "sans-serif";
}

.button1{
  background-color: #235F8C;
  color: white;
  padding: 5px 5px 5px 5px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 14px;
  font-family: "Montserrat", Helvetica, Arial, "sans-serif";
  border: 1px solid white;
	
}
.button1:hover{
	background-color:#001c37;
}
	
.guides{
	position:relative;
	padding:20px 30px 30px 30px;
	display:inline-block;
	float:right;
	left:60px;
	top:-100px;
	height:85px;
	width:250px;
	background-color:#E5E5E5;  
	box-shadow: 2px 2px 8px gray;
}

.fishing-guides{
	color:#001c37;
	padding:0px 0px 10px 0px;
	font-size:25px;
	text-align: center;
	font-family: "Montserrat", Helvetica, Arial, "sans-serif";
}

.catch{
	color:#001c37;
	font-size:14px;
	text-align: center;
	font-family: "Montserrat", Helvetica, Arial, "sans-serif";
}

.button2{
  background-color: #E5E5E5;
  color: #001c37;
  padding: 5px 0px 5px 0px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 14px;
  font-family: "Montserrat", Helvetica, Arial, "sans-serif";
  border: 1px solid #001c37;
	
}
.button2:hover{
	background-color:#235F8C;
}



.footer-social{
	position:relative;
	float:left;
	top:40px;
	right:0px;
	left:180px;
}

.mailing-list{
	position:relative;
	padding:0px 0px 0px 0px;
	display:inline-block;
	float:left;
	left:300px;
	top:40px;
	height:85px;
	width:250px;
}

.join{
	color:white;
	padding:0px 0px 5px 0px;
	font-size:25px;
	text-align: center;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

.discount{
	color:#9A9A9A;
	font-size:12px;
	text-align: center;
	font-family: "Montserrat", Helvetica, Arial, "sans-serif";
}

.mailbutton{
	position:relative;
	resize: none;
	width: 150px;
	height:25px;
	float:right;
	left:60px;
	top:40px;
	background-color: #235F8C;
	color: white;
	padding: 10px 0px 0px 0px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 14px;
	font-family: "Montserrat", Helvetica, Arial, "sans-serif";
	border: 1px solid white;
	
}
.mailbutton:hover{
	background-color:red;
}



.contact{
	position:relative;
	padding:0px 0px 0px 0px;
	display:inline-block;
	float:left;
	left:-210px;
	top:100px;
	line-height: 40px;
}

.contact-header{
	color:white;
	padding:0px 0px 5px 0px;
	font-size:25px;
	text-align: left;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	
}

.number{
	color:white;
	padding:0px 0px 5px 0px;
	font-size:25px;
	text-align: left;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

.support{
	position:relative;
	padding:0px 0px 0px 0px;
	display:inline-block;
	float:left;
	left:-90px;
	top:70px;
	height:85px;
	width:250px;
	line-height: 18px;
}

.support-header{
	color:white;
	padding:0px 0px 15px 0px;
	font-size:25px;
	text-align: left;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

.order{
	color:white;
	font-size:12px;
	text-align: left;
	font-family: "Montserrat", Helvetica, Arial, "sans-serif";
}

.ship{
	color:white;
	font-size:12px;
	text-align: left;
	font-family: "Montserrat", Helvetica, Arial, "sans-serif";
}

.price{
	color:white;
	font-size:12px;
	text-align: left;
	font-family: "Montserrat", Helvetica, Arial, "sans-serif";
}

.int{
	color:white;
	font-size:12px;
	text-align: left;
	font-family: "Montserrat", Helvetica, Arial, "sans-serif";
}

.cust{
	color:white;
	font-size:12px;
	text-align: left;
	font-family: "Montserrat", Helvetica, Arial, "sans-serif";
}

.career{
	color:white;
	font-size:12px;
	text-align: left;
	font-family: "Montserrat", Helvetica, Arial, "sans-serif";
}

.hours{
	position:relative;
	padding:0px 0px 0px 0px;
	display:inline-block;
	float:left;
	left:-10px;
	top:70px;
	height:85px;
	width:250px;
	line-height: 18px;
}

.hours-header{
	color:white;
	padding:0px 0px 15px 0px;
	font-size:25px;
	text-align: left;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

.sunday{
	color:white;
	font-size:12px;
	text-align: left;
	font-family: "Montserrat", Helvetica, Arial, "sans-serif";
}

.monday{
	color:white;
	font-size:12px;
	text-align: left;
	font-family: "Montserrat", Helvetica, Arial, "sans-serif";
}

.tuesday{
	color:white;
	font-size:12px;
	text-align: left;
	font-family: "Montserrat", Helvetica, Arial, "sans-serif";
}

.wednesday{
	color:white;
	font-size:12px;
	text-align: left;
	font-family: "Montserrat", Helvetica, Arial, "sans-serif";
}

.thursday{
	color:white;
	font-size:12px;
	text-align: left;
	font-family: "Montserrat", Helvetica, Arial, "sans-serif";
}

.friday{
	color:white;
	font-size:12px;
	text-align: left;
	font-family: "Montserrat", Helvetica, Arial, "sans-serif";
}

.saturday{
	color:white;
	font-size:12px;
	text-align: left;
	font-family: "Montserrat", Helvetica, Arial, "sans-serif";
}

.visit{
	position:relative;
	padding:0px 0px 0px 0px;
	display:inline-block;
	float:left;
	left:10px;
	top:70px;
	height:85px;
	width:250px;
	line-height: 18px;
}

.visit-header{
	color:white;
	padding:0px 0px 15px 0px;
	font-size:25px;
	text-align: left;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

.street{
	color:white;
	font-size:12px;
	text-align: left;
	font-family: "Montserrat", Helvetica, Arial, "sans-serif";
}

.town{
	color:white;
	font-size:12px;
	text-align: left;
	font-family: "Montserrat", Helvetica, Arial, "sans-serif";
}

.country{
	color:white;
	font-size:12px;
	text-align: left;
	font-family: "Montserrat", Helvetica, Arial, "sans-serif";
}



.line {
  width: 70%;
  margin-top:250px;
  margin-left:170px;
  height: 2;
  border: 1px solid #C4C4C4;
  display:inline-block;
}



h1{
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size:30px;
	padding:10px 0;
	font-weight: 200;
	color:#235F8C;
	display:inline;
}

h2{
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size:22px;
	padding:10px 0;
	font-weight: 400;
	color:white;
	display:inline;
}
h3{
	font-size:12px;
	font-weight:100;
	font-family: "Montserrat", Helvetica, Arial, "sans-serif";
	color:white;
	display:inline;
}



footer{
	height:500px;
	width:100%;
	background-color:#001c37;
	margin-top:500px;
	margin-bottom:0px;
	
}

@media (max-width:1200px){
	.headers{
		height:200px;
	}
	.img{
		height:180px;
		top:-20px;
		left:155px;
	}
	.lilheader{
		top:-16px;
	}
	.searchheader{
		top:-16px;
	}
	.wrapper{
		width:740px;
	}
	.search{
		width:780px;
	}
	.search-icon{
		left:780px;
	}
	.column{
		height:210px;
		margin:50px 25px 0px 185px;
		
	}
	.listbox-news{
		margin-left: 200px;
		margin-top: 30px;
		
	}
	#news_list {
font-size: 15px;
width: 400px;
height: 200px;
line-height: 40px;
overflow-y: scroll;
}
	.promo{
		right:150px;
	}
	.guides{
		left:160px;
		top:-120px;
	}
	.mailbutton{
		left:-400px;
		top:5px;
	}
	.mailing-list{
		left:200px;
	}
	.contact-header{
		font-size:20px;
		top:50px;
	}
	.number{
		font-size:20px;
	}
	.support{
		top:110px;
		left:-150px;
	}
	.support-header{
		font-size:20px;
		
	}
	.hours{
		left:-200px;
	}
	.hours-header{
		font-size:20px;
	}
	.visit{
		left:800px;
		top:-10px;
	}
	.visit-header{
		font-size:20px;
	}
	.line{
		margin-top:150px;
	}
.dropbtn,.dropdown,.dropdown-content,.dropdown-content,.dropdown-content,.dropdown:hover,.dropdown-content,.dropdown:hover .dropbtn{
	display:none;
	}

}
#mobileaccordion{
		display:none;
	}
	
	.page{
		display:none;
	}
 
@media (max-width:720px){
	
	html, body{
		max-width:100%;
		overflow-x: hidden;
	}
	
	.img{
		height:100px;
		left:240px;
		top:-5px;
	}
	.Extras{
		display:none;
		
	}
	.phone{
		display:none;
	}
	.header-social{
		display:none;
	}
	.log{
		display:none;
	}
	.shipping{
		top:-95px;
		left:150px;
	}
	.wrapper{
		width:400px;
		left:-270px;
		top:-35px;
	}
	.search{
		width:400px;
	}
	.search-icon{
		left:815px;
		top:7px;
	}
	.column{
		position:relative;
		height:120px;
		margin:-100px 5px 0px 100px;
		left:50px;
		
	}
	
	.News{
		margin-top:40px;
		margin-left:300px;
		
	}
	.listbox-news{
		margin-left: 170px;
		margin-top: 20px;
		
	}
	#news_list {
font-size: 12px;
width: 350px;
height: 200px;
line-height: 40px;
overflow-y: scroll;
}

.promo{
	right:635px;
	top:60px;
}

.guides{
	left:-325px;
	top:250px;
}

.line{
	display:none;
}

.mailbutton{
	top:40px;
	left:-550px;
}

.mailing-list{
	left:15px;
}

.contact{
	top:140px;
	left:-220px;
}
.support{
	top:150px;
	left:-120px;
}
.hours{
	top:300px;
	left:-600px;
}
.visit{
	left:400px;
	top:217px;
}

.footer-social{
	top:600px;
	left:310px;
}
footer{
	margin-top:800px;
	height:700px;
	
}
	
	#mobileaccordion{
		display:none;
	}
	
	.page{
		display:none;
	}


@media (max-width:575px){

	
	.img{
		height:80px;
		left:200px;
	}
	.wrapper,.column,.shipping,.searchheader{
		display:none;
	}
	.headers{
		height: 80px;
	}
	.lilheader{
		height:20px;
	}
	
	.News{
		margin-left:200px;
		margin-top:50px;
	}
	.listbox-news{
		margin-left:100px;
	}
	.promo{
		right:700px;
	}
	.guides{
		left:-390px;
	}
	
	footer{
		margin-top:800px;
	}
	
#mobileAccordion{
	display: block;
	width: 100%;
   background-color: #001c37;
}

.page{
	display:block;
	width: 100%;
	border-bottom: 1px solid white;
	padding-bottom: 10px;
	overflow: auto;
	height: 60px;
}

.page h3{
	display: inline;
	text-align: center;
	padding-left: 15px;
	font-size:20px;
	font-weight:100;
	font-family: "Montserrat", Helvetica, Arial, "sans-serif";
}

.page img{
	display: inline;
	height:40px;
	padding:15px 5px 5px 10px;
}

.page a{
	color: #001c37;
	text-decoration: none;
}
	}
	
.mailbutton{
	top:40px;
	left:-650px;
}

.mailing-list{
	left:-100px;
}

.contact{
	top:140px;
	left:-330px;
}
.support{
	top:150px;
	left:-170px;
}
.hours{
	top:250px;
	left:-700px;
}
.visit{
	left:350px;
	top:217px;
}

.footer-social{
	top:550px;
	left:210px;
}

	
}